/* Memuat font Poppins dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Menggunakan font Poppins untuk semua elemen */
* {
  font-family: "Poppins", sans-serif;
}

#myCarousel {
  height: 570px;
  background-color: #e6d3f7;
}

#cta {
  padding-top: 100px;
}

.jumbotron-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 850px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}

.carousel-caption {
  background: rgba(255, 255, 255, 0.8); /* Optional: To make the text more readable */
  padding: 20px;
  border-radius: 10px;
}

.navbar {
  background-color: #4e4231;
  color: rgb(0, 0, 0);
}

.ungu-muda {
  background-color: #50493f;
}

.ungu-tua {
  background-color: #4e4231;
}

.hijau-ikip {
  background-color: #4e5250;
  color: white;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 1rem;
}

a {
  text-decoration: none;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
}

.fa-star {
  color: #ffd700; /* Gold color for stars */
}
.checked {
  color: #ffcc00; /* Another shade of gold for filled stars */
}

.card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.card-link .card {
  cursor: pointer;
}

.card-link .card a {
  text-decoration: underline;
}



